p, h1, a{color:aliceblue;}
html{background-color: black;}
body{margin: 0px;}
div{
    margin: 8px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
figure{
    display: inline-block;
    text-align: center;
    margin: 20px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
li{ 
    display: inline;
    padding: 10px;
    padding-left: 30px;
}
a{text-decoration: none;}
ul{padding: 10px;}
header{
    margin: 0px;
    padding-top: 10px;
    text-align: center;
}
img{height:200px;}
table{border-collapse: collapse;}
th{padding: 5px;}